.test {
	clear: both;
	margin-bottom: 1em;
	overflow: hidden;
	width: 100%;
}

.test__section {
	float: left;
	width: 33%;
}

h1 {
	font-size: 1.5em;
	margin: 0.25em 0;
}

canvas {
	max-height: 410px;
	max-width: 620px;
}

img {
	margin-top: 2em;
	max-height: 410px;
	max-width: 620px;
}

#controlPanel {
	margin: 2em auto;
	width: 250px;
}

.slider {
	overflow: hidden;
	padding: 0.5em 0;
	width: 250px;
}

.slider p {
	float: left;
	margin: 0 0.5em;
}

.button {
	background: #ccc;
	border-color: #bbb #888 #666 #aaa;
	border-style: solid;
	border-width: 3px 4px 4px 3px;
	color: #333;
	cursor: pointer;
	display: block;
	font-weight: 900;
	height: 2em;
	line-height: 2;
	margin: 0.75em 1em;
	text-align: center;
	text-decoration: none;
	width: 9em;
}

.button:hover {
	border-color: #666 #aaa #bbb #888;
	border-width: 4px 3px 3px 4px;
	color: #000;
}